header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>img {
    height: 2rem;
}

header>nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header>nav>a {
    font-size: 1.2rem;
    color: #36f;
    text-decoration: none;
}

header>nav>a:hover,
header>nav>a.active {
    color: #03f;
    text-decoration: underline;
}